.DS_Store
.vim
*.log
*.tsbuildinfo
logs.txt
wikis
tests/staging
*.tgz
*.tsbuildinfo
.editorconfig
.gitattributes
coverage
.bun
dist
build
*.cast
*.gif
*.txt

# ignore all build artifacts
out
node_modules
bin
lib
dist

!bin/fish-lsp

scripts/build-with-bun.sh
scripts/build-binary.ts
scripts/debug.fish
scripts/build-release.fish

release-assets
tsconfig.types.json
