.yarnrc
.nvmrc
test-data
tsconfig.json
tsconfig.jest.json
tsconfig.eslint.json
yarn.lock
commitlint.config.ts
jest.config.js
.tsbuildinfo
.gitignore
.editorconfig
docs
!docs/man/fish-lsp.1
.eslintrc.cjs
.git
.github
renovate.json
.husky