.git/
.github/
.husky/
.eslintrc.cjs
.eslintignore
.gitignore
*.tsbuildinfo
.editorconfig
.gitattributes
*.tgz

yarn.lock
.yarnrc.yml
.yarnrc
.nvmrc
package-lock.json
pnpm-lock.yaml
npm-shrinkwrap.json

test-data
build

tsconfig*.json
jest.config.js
commitlint.config.ts
renovate.json

*.tsbuildinfo
.editorconfig
docs/*
!docs/MAN_FILE.md
!docs/man/fish-lsp.1