name: CI lint & install tool

on:
  pull_request:
    branches:
      - master

jobs:
  ci:
    name: Lint Codebase
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Fish Shell
        uses: fish-actions/install-fish@v1.1.0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.12.0

      - name: Install Yarn
        run: npm install -g yarn@1.22.22

      - name: Install Dependencies
        run: yarn install

      - name: Build Development
        run: yarn dev

      - name: Check Binary
        run: fish-lsp --help

      - name: Run Lint
        run: yarn lint:fix
      
      - name: Run Test
        run: yarn test