name: Yarn ESLint

on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]
  schedule:
    - cron: '20 2 * * 3'

jobs:
  eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    steps:
      - name: fish-actions/install-fish
          # You may pin to the exact commit or the version.
          # uses: fish-actions/install-fish@d6d9d26231a15f8d9a6b3e74b3db45512440e3e8
        uses: fish-actions/install-fish@v1.1.0      
      - uses: actions/checkout@v3

      - name: Set Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install # will run `yarn install` command
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} # if needed
          # - name: Run tests
          #   uses: borales/actions-yarn@v4
          #   with:
          #     cmd: test-hook # will run `yarn build:prod` command
      - name: Build production bundle
        uses: borales/actions-yarn@v4
        with:
          cmd: lint # will run `yarn build:prod` command